<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailAddress" value="mrobinson2016@yahoo.com" />
    <add key="EmailPassword" value="Testing@123" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>